extends layout

block content
  a(href='/login/google') google login
  br
  a(href='/login/username') username / password
  //- if currentUser
  //-   div=currentUser.email
  //-   div=currentUser.username
  //-   a(href='/login/logout') logout
